<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <title><%= t(`${postId}.title`) %></title>
  </head>
  <body>
    <div data-wurd-block="<%= postId %>">
      <h1 data-wurd=".title"><%= t(`${postId}.title`) %></h1>

      <p data-wurd-md=".intro"><%= t(`${postId}.intro`) %></p>

      <div data-wurd-md=".content"><%- markdown(t(`${postId}.content`)) %></div>
    </div>


    <% if (editMode) { %>
      <script src="https://edit-v3.wurd.io/widget.js" data-app="example"></script>
    <% } %>

  </body>
</html>
