<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    
    <title>Wurd example</title>
  </head>
  <body class="container">
    <%- include nav.ejs %>

    <img data-wurd-img="home.heroImage" src="<%= wurd.get('home.heroImage') %>" width="100%" />

    <div data-wurd-block="home.welcome">
      <h2 data-wurd=".title"><%= wurd.get('home.welcome.title') %></h2>

      <div data-wurd-md=".intro" class="alert alert-info">
        <%- wurd.get('home.welcome.intro').replace('{{name}}', 'John') %>
      </div>

      <div data-wurd-md=".markdown">
        <%- markdown(wurd.get('home.welcome.markdown')) %>
      </div>
    </div>

    <hr />

    <h2><%- wurd.el('home.team.title') %></h2>
    <ul data-wurd-list="home.team.members" class="list-group">
      <% wurd.map('home.team.members', (item, id) => { %>
        <li data-wurd-block="<%= id %>" class="list-group-item">
          <img data-wurd-img=".image" src="<%= item.image %>" width="75" />
          <span data-wurd=".name"><%= item.name %></span>
        </li>
      <% }) %>
    </ul>


    <% if (wurd.editMode) { %>
      <script src="https://edit-v3.wurd.io/widget.js" data-app="example"></script>
    <% } %>

  </body>
</html>
