<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    
    <title>Wurd example</title>
  </head>
  <body class="container">
    <%- include nav.ejs %>

    <% wurd.block('home', ({id, text, markdown, map, el}) => { %>
      <img data-wurd-img="<%= id('heroImage') %>" src="<%= text('heroImage') %>" width="100%" />

      <h2><%- el('welcome.title') %></h2>

      <div class="alert alert-info">
        <%- el('welcome.intro', {name: 'John'}) %>
      </div>

      <div class="well">
        <%- el('welcome.markdown', {
          date: new Date().toLocaleDateString()
        }, { markdown: true }) %>
      </div>


      <hr />


      <h2><%- el('team.title') %></h2>

      <ul data-wurd-list="<%= id('team.members') %>" class="list-group">
        <% map('team.members', ({id, text, el}) => { %>
          <li class="list-group-item">
            <img data-wurd-img="<%= id('image') %>" src="<%= text('image') %>" width="75" />
            <%- el('name') %>
          </li>
        <% }) %>
      </ul>
    <% }); %>

    <% if (wurd.editMode) { %>
      <script src="https://edit-v3.wurd.io/widget.js" data-app="example"></script>
    <% } %>

  </body>
</html>
